# deben crear un archivo ".env" con el siguiente contenido
# tambien creen la BD en xampp con el nombre "lumina_db" (sin tablas) y asegurense de que el usuario y contraseña sean correctos
# si ven que los comentarios estan muy robotizados es que visual adivina lo que quiero decir y lo escribe jajaj
# por ejemplo quiero decir "deben crear un archivo .env con el siguiente contenido" y visual lo escribe como "deben crear un archivo .env con el siguiente contenido" jajajaja
# literal el de arriba lo completó visual

DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_NAME=lumina_db